/* made by Aaron Starr */
/* Copyright, Aaron Starr. All rights reserved. Redistribution of this content including art, with or without modification, is prohibited. */

:root 
{
    --green-color: #00FF00;

    --brown: #343131;
    --black: #000000;
    --white: #FFFFFF;

    --lightgrey: #A4A4A9;
    --middlegrey: #323942;
    --darkgrey: #232A35;

    --lightred: #943126;
    --middlered: #922B21;
    --darkred: #641E16;
    --brightred: #FF0000;

    --lightpurple: #A569BD;
    --middlepurple: #6C3483;
    --darkpurple: #4A235A;

    --lightgreen: #82E0AA;
    --middlegreen: #229954;
    --darkgreen: #0B5345;

    --lightyellow: #F9E79F;
    --middleyellow: #F4D03F;
    --darkyellow: #B7950B;

    --gold: gold;

    --lightorange: #EB984E;
    --middleorange: #D35400;
    --darkorange: #873600;

    --lightblue: #5DADE2;
    --middleblue: #21618C;
    --darkblue: #154360;
    --hyperlinkBlue: #968ef0;

    --scrollBarColor1: #555555;
    --scrollBarColor2: #444444;
    --scrollBarColorBG: #a0a0a0;


    --sidenav-Width: 320px;
    --gameLogo-Height: 64px;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

.hyperlink
{
    color: var(--hyperlinkBlue);
    font-style: italic;
}

.button 
{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--white);
    background-color: var(--middlegreen);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.button:hover 
{
      background-color: var(--darkgreen)
}
  
.button:active 
{
    background-color: var(--lightgreen);
    box-shadow: 0 5px var(--lightgrey);
    transform: translateY(4px);
}

#startMainMenuName
{
    background-color: var(--lightgrey);
    color: var(--white);
}

/* --------------------------------------------------------------------------- */
/* scroll bar */

/* width */
::-webkit-scrollbar 
{
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track 
{
    background: var(--scrollBarColorBG);
}
  
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: var(--scrollBarColor1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: var(--scrollBarColor2);
}



/* --------------------------------------------------------------------------- */
/* Simple css to style dark mode */

.dark-theme 
{
    --bg: var(--darkgrey);
    --fontColor: var(--lightgrey);
    --btnBg: var(--lightgrey);
    --btnFontColor: var(--lightgrey);
}

/* ---------------------------------------------------------------- */
/* SIDE NAVIGATION BAR */
/* The sidebar menu */

#gameNameBar 
{
    height: var(--gameLogo-Height);
    width: var(--sidenav-Width); /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--middlegrey); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    padding: 4px 0px 2px 0px; /* top, right, bottom, left */

    /* user cannot highlight text */
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}

#gameLogo
{
    height: var(--gameLogo-Height);
    width: 128px; /* Set the width of the sidebar */
    padding: 0px 96px 0px 96px; /* top, right, bottom, left */
}

.sidenav 
{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: var(--sidenav-Width); /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* dont Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--black);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: calc(var(--gameLogo-Height) + 10px);

    /* user cannot highlight text */
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}

#sidebarTable
{
    border-collapse: collapse;
    cursor: pointer; /* change cursor to the hand pointer when over table */
}

span
{
    font-size: large;
    padding: 0px 40px 0px 5px; /* top, right, bottom, left */
}

.sidenavTableRowImg
{
    padding: 8px 0px 6px 10px; /* top, right, bottom, left */
    text-align: center;
}

.sidenavTableRowName
{
    padding: 8px 0px 6px 10px; /* top, right, bottom, left */
    text-align: left;
}

.sidenavTableRowDescription
{
    padding: 8px 10px 6px 0px; /* top, right, bottom, left */
    text-align: right; 
    width: 100%;
}

.characterGold
{
    color: var(--gold);
}

.characterHealth
{
    color: var(--brightred);
}

.characterMaxHealth
{
    color: var(--brightred);
}

.sidenavRows:hover
{
    background-color:var(--middlegrey);
}


/* Style page content */
.main 
{
    margin-left: var(--sidenav-Width); /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* ----------------------------------------------------------------- */
/* Center Page */

body 
{
    background: var(--darkgrey);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: var(--gameLogo-Height) 0px 2px var(--sidenav-Width); /* top, right, bottom, left */

    /* user cannot highlight text */
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;

}

#centerPageBar 
{
    height: var(--gameLogo-Height);
    width: 100%;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--brown);
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    padding: 4px 0px 2px var(--sidenav-Width); /* top, right, bottom, left */

    /* user cannot highlight text */
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}

#centerPageTitle
{
    width: 50%;
    height: 32px;
    padding: 0px 0px 0px 12px; /* top, right, bottom, left */
}

ul 
{
    font-family: helvetica;
}

li 
{
    list-style: circle;
}

.list 
{
    list-style: square;
}

/* make main menu html be populated at the startup */
#mainMenu
{
    visibility: visible;
}

.tooltip 
{
    position: relative;
    display: inline-block;
    padding-top: 2px;
    border-bottom: 1px dotted var(--lightgrey); /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltipText
{
    visibility: hidden;
    width: 300px;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltipText 
{
    visibility: visible;
}

.tooltipTitle
{
    color: var(--middleorange);
}

/* ------------------------------------------------------------------ */
/* Credits Page */

#creditsTable
{
    border-collapse: collapse;
    border: 1px solid var(--lightgrey);
    padding: 30px 0px 0px 0px;/* top, right, bottom, left */
}

#creditsTable th
{
    color: var(--lightblue);
    font-size: 20px;
    border: 3px solid var(--lightgrey);
}

#creditsTable td 
{
    vertical-align: top;
    text-align: center; 
    border: 1px solid var(--lightgrey);
}

#creditsTable th 
{
    padding: 30px 50px 30px 50px;/* top, right, bottom, left */
    vertical-align: middle; 
    text-align: center; 
}

/* ------------------------------------------------------------------ */
/* Skills Page */

#skillsTable
{
    border-collapse: collapse;
    border: 1px solid var(--lightgrey);
    padding: 30px 0px 0px 0px;/* top, right, bottom, left */
}

#skillsTable th
{
    color: var(--lightblue);
    font-size: 20px;
    border: 3px solid var(--lightgrey);
}

#skillsTable td 
{
    vertical-align: top;
    text-align: center; 
    border: 1px solid var(--lightgrey);
}

#skillsTable th 
{
    padding: 30px 50px 30px 50px;/* top, right, bottom, left */
    vertical-align: middle; 
    text-align: center; 
}

.skillchangeText
{
    display: inline
}

.skillchangeText
{
    color: var(--middlegreen);
}

.skillsPageRowInfo
{
    cursor: pointer;
}

.skillsPageRowInfo:hover
{
    background-color:var(--middlegrey);
}

/* -------------------------------------------------- */
/* Character Page */

.characterPageRowInfoName
{
    width: 100px;
    text-align: right;
    padding: 0px 10px 0px 0px;/* top, right, bottom, left */
}

.characterPageRowInfoValue
{
    width: 250px;
    text-align: left;
    padding: 0px 10px 0px 10px;/* top, right, bottom, left */
}

#characterPageImg
{
    padding: 20px 20px 0px 20px;/* top, right, bottom, left */
}

#characterSecondaryAttributeBox
{
    border-top: 1px solid var(--lightgrey);
}

#characterPageTable
{
    padding: 30px 0px 0px 0px; /* top, right, bottom, left */
}

#characterPageTable td 
{
    vertical-align: top;
}

.characterPageRowInfoValuePadding
{
    padding: 2px; /* top */
}

#characterPageRow1
{
    border-left: 1px solid var(--lightgrey);
}

/* -------------------------------------------------- */
/* Inventory Page */

#inventoryTable
{
    border-collapse: collapse;
    border: 1px solid var(--lightgrey);
    padding: 30px 0px 0px 0px;/* top, right, bottom, left */
}

#inventoryTable th
{
    color: var(--lightblue);
    font-size: 20px;
    border: 3px solid var(--lightgrey);
}

#inventoryTable td 
{
    vertical-align: top;
    text-align: center; 
    border: 1px solid var(--lightgrey);
}

#inventoryTable th 
{
    padding: 30px 50px 30px 50px;/* top, right, bottom, left */
    vertical-align: middle; 
    text-align: center; 
}

.inventoryItemName
{
    vertical-align: top;
    text-align: center; 
}

.itemButton 
{
    padding: 8px 8px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--white);
    background-color: var(--middlegreen);
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px #999;
}
  
.itemButton:hover 
{
      background-color: var(--darkgreen)
}
  
.itemButton:active 
{
    background-color: var(--lightgreen);
    box-shadow: 0 1px var(--lightgrey);
    transform: translateY(4px);
}

/* -------------------------------------------------- */
/* Store Page */

#storeTable
{
    border-collapse: collapse;
    border: 1px solid var(--lightgrey);
    padding: 30px 0px 0px 0px;/* top, right, bottom, left */
}

#storeTable th
{
    color: var(--lightblue);
    font-size: 20px;
    border: 3px solid var(--lightgrey);
}

#storeTable td 
{
    vertical-align: top;
    text-align: center; 
    border: 1px solid var(--lightgrey);
}

#storeTable th 
{
    padding: 30px 50px 30px 50px;/* top, right, bottom, left */
    vertical-align: middle; 
    text-align: center; 
}

.storeItemName
{
    vertical-align: top;
    text-align: center; 
}